<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary side-nav" style="width: 30vw">
    <div class="list-group list-group-flush border-bottom scrollarea">
        @for(profile of _activeUsers ; track profile){
            <a (click)="openMessageWindow(profile.profileId)" class="list-group-item list-group-item-action py-3 lh-sm" [ngClass]="isActiveId == profile.profileId ? 'active' : ''">
            <div class="d-flex w-100 align-items-center">
                <div>
                    <img src="img/default-profile.jpg" class="me-3 profile" alt="" width="40" height="40">
                </div>

                <div class="w-100">
                    <div class="d-flex w-100">
                     <strong class="mb-1">
                        {{ profile.profileId == getActiveProfileID ? 'Me' : profile.username }}
                     </strong>
                     <small class="ms-auto">{{  'Monday' }}</small>
                    </div>
                    <div class="mb-1 small d-flex">
                        <div class="message">
                            {{ '.....' }}
                        </div>
                        <div class="count ms-auto">
                            {{ '3' }}
                        </div>
                    </div>
                </div>  
            </div>
            
        </a> 
        }
        @empty{
            {{ 'No users found!!'}}
        }
    </div>
</div>