.full-height{
    height: 100%;
}


.typing{
 position : sticky;
 bottom : 0px;
 top: calc(90%);
}

.chat-header{
  width: 100%;
  background-color: #0d6efd;
  height: 3rem;
  color: white;
  font-weight: 800;
  font-size: 18px;
}

.input-group-text{
    cursor: pointer;
}

.chat-section{
    overflow-x: auto;
    height: 75%;
}